#pattern  filter=crypt diff=crypt merge=crypt
config.json  filter=crypt diff=crypt merge=crypt
401k_bonds.json  filter=crypt diff=crypt merge=crypt
401k_stock.json  filter=crypt diff=crypt merge=crypt
F5.json  filter=crypt diff=crypt merge=crypt
SocSec.json  filter=crypt diff=crypt merge=crypt
brokerage_bonds.json  filter=crypt diff=crypt merge=crypt
brokerage_stock.json  filter=crypt diff=crypt merge=crypt
primary_residence.json  filter=crypt diff=crypt merge=crypt
rental_114.json  filter=crypt diff=crypt merge=crypt
